/*caracteres especiales*/
@charset "utf-8";


/*damos el tipo de letra y el tamaño de las misma */
#tituloPri{
font-family:  Arial Black;
font-size:2em;
border-radius: 20px;

}

 /*centramos el titulo */
#tituloPri{
text-align: center;
}

/*definimos en ancho y el alto de la imagen del logo y de las demas que se agregaran al texto */
#logo{
width: 100%;
height: 50%
}


/* creamos un margen en el cuerpo de la pagina */

body {
	width: 88.2%;
	max-width: 1500px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: 0px auto auto auto;
	clear: none;
	float: none;
	background-color: ivory;
	-moz-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
	box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px,  rgba(31, 61, 31, 0.9) -20px 0px 25px;
}

/* agregamos un color al fondo */
html{
background-color: #D2691E;}




/*marco redondo en el menu */
#menu{
border: orange 8px inset;
border-radius: 20px;
border-radius: 20px;
}

 /*imagen de fondo en el cuerpo de pagina */
body{
  background-image: url("../img/fondo.jpg");
}
#menu{
background-image: url("../img/fondo2.jpg");
}

/*eliminar los marcadores de la lista de navegacion */
#menu > ul{
line-west: 5px;
list-style-type:none;
font-size: 1.5em;
}

/*para aplicar pseudo clasesa enlacees de hipertexto */

 nav > ul > li > a:link, nav > ul > li > a:visited {
 color: #FFFFFF; 
text-decoration: none; 
}


 nav > ul > li > a:hover, nav > ul > li > a:active { 
color: #000000; 
text-decoration: underline; 
}

/*aliniamos los parrafos*/
/*aliniamos el texto */
.columna1{
text-align: justify;
}

.columna2{
text-align: justify;
}

/*separacion de bordes de las columnas */

.columna1{
  margin-right:10px;
}

.columna2{
  margin-right:10px;
}

/*le quitamos al titulo las caracteristicas de la etiqueta h1 */
#tituloPri{ 
color: white; 
background-color: rgb(222, 128, 60);
 } 


/*----------------------------------*/

/*definimos el tamaño de las imagenes */

#ima{
width: 30%;
float: right;
margin-left:10px;
}
/*para aplicar pseudo clasesa enlacees de hipertexto  para el menu 2 */
 ol > li > a:link, nav > ul > li > a:visited {
 color: #FFFFFF; 
text-decoration: none; 
}


/*para aplicar pseudo clases a enlacees de hipertexto */
 ol > li > a:hover, nav > ul > li > a:active { 
color: #000000; 
text-decoration: underline; 
background-color: yellow;
}

/* marco png para ingresar texto*/
#resumen{
  border: silver 25px solid;
  border-image-source: url("../img/img22.png");
  border-image-slice: 85;

  text-align: justify;
}

/*Color de titulos y caracteristicas*/
/*color a las etiquetas h1 y h2 */
h2,h1 { 
color: black; 
background-color: #FFCCE5;
 } 

/*color de fondo en el texto*/


/*-----------------------------------*/

/*pie de pagina */
footer {
border-radius: 20px;

	text-align: center;
	font-size: 1em;
	margin-top: 4%;
	background-color: rgb(244, 164, 96); 
	color:white;
	font: normal small-caps  Quicksand, Verdana, Geneva, sans-serif;
	clear: both;
	padding-bottom: 20px;
}





